.section1 {
  height: 42vh;
}

.section2 {
  height: 100vh;
}

.bgFirstSection {
  background: url('../../public/images/sixDivider.svg');
  background-repeat: no-repeat;
  background-size: cover;
}

.card {
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.4);
  border-radius: 3.5rem;
  cursor: pointer;
  transition: 0.2s ease-in all;
}