.navbar{
  padding-left: 6rem;
  padding-right: 6rem;
  padding-top: 1.25rem;
  padding-bottom: 1.5rem;
  z-index: 50;
}

.button {
  transition: 0.2s ease-in-out;
  border-radius: 0.75rem;
}

.button:hover {
  background-color: #7080ec;
}

.button_secondary {
  transition: 0.2s ease-in-out;
  opacity: 0.5;
}

.button_secondary:hover {
  outline: 0.2rem solid white;
  color: white;
  opacity: 1;
}
