.background {
  background-color: rgba(0, 0, 0, 0.404);
  z-index: 40;
}

.container {
  border-radius: 3rem;
  z-index: 41;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.close {
  background-color: #f178b6;
  transition: 0.2s ease-in-out;
  right: 2rem;
  top: 2rem;
}

.close:hover {
  background-color: #f150a3;
}

.judul {
  font-family: 'LeagueSpartan';
  font-weight: 700;
  font-size: 1.2rem;
}

.form {
  width: 30rem;
}

.form input {
  width: 100%;
}

.form input[type='text'],
.form input[type='password'] {
  padding: 0.8rem 1.5rem;
  margin-top: 0.8rem;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
  border-radius: 1.5rem;
}

.form input[type='text']:focus,
.form input[type='password']:focus {
  outline: 0.2rem solid #494961;
}

.form input[type='submit'] {
  opacity: 0.5;
  transition: 0.2s ease-in-out;
  cursor: pointer;
}

.form input[type='submit']:hover {
  opacity: 1;
}

.form label {
  color: #494961;
  font-weight: 400;
  font-size: 1rem;
  margin-left: 1rem;
}

.text {
  font-size: 0.9rem;
}

.eye {
  right: 0.75rem;
  top: 1.25rem;
}
