.section1 {
  height: 100vh;
}

.bgFirstSection {
  background-image: url("../../public/images/fifthDivider.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.card {
  cursor: pointer;
  transition: 0.2s ease-in all;
}

.card:hover {
  outline: 0.5rem solid #7080ec;
}
