.section1 {
  height: fit-content;
}

.bgFirstSection {
  background-image: url("../../public/images/fifthDivider.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.buttonTambah {
  opacity: 0.5;
  transition: 0.23s ease-in-out;
  cursor: pointer;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.4);
}

.buttonPeserta {
  margin-top: 19rem;
  opacity: 0.5;
  transition: 0.1s ease-in-out;
  cursor: pointer;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.4);
}

.buttonTambah:hover {
  opacity: 1;
}

.buttonPeserta:hover {
  outline: 0.2rem solid #a5afed;
  color: #7080ec;
  opacity: 1;
}

.containerCardVaksin {
  height: 47rem;
}

.classNameControl {
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25) !important;
}
