.top {
  padding-right: 7rem;
  padding-left: 7rem;
}

.red {
  background-color: #fa3030;
}

.green {
  background-color: #59c48c;
}

.orange {
  background-color: #ff7b7b;
}

.darkGreen {
  background-color: #385964;
}

.redText {
  color: #fa3030;
}

.greenText {
  color: #59c48c;
}

.orangeText {
  color: #ff7b7b;
}

.darkGreenText {
  color: #385964;
}

.bottom {
  font-weight: 700;
}
