.avatar {
  cursor: pointer;
}

.whiteContainer {
  padding: 0.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  transition: all 0.1s ease-in-out;
}

.whiteContainer:hover {
  background-color: #a5afed;
}
