.footerDividerPurple {
  background: url('../../public/images/fourthDivider.svg');
  background-repeat: no-repeat;
  background-size: cover;
}

.purple{
  padding-top: 2.25rem;
  padding-bottom: 2.25rem;
}

.footerDividerWhite {
  background: url('../../public/images/footerDivider.svg');
  background-repeat: no-repeat;
  background-size: cover;
  top: -0.5rem;
}


