.HIframe{
  height: 45rem;
}

.button{
  transition: all 0.2s ease;
}

.button:hover{
  background-color: #27272c;
}

.virusPositionTop{
  top: 80rem;
  left: 4rem;
}

.virusPositionBottom{
  margin-top: -10rem;
  right: 4rem;
  z-index: 20;
}