.HIframe{
  height: 30rem;
}

.button{
  transition: all 0.2s ease;
}

.button:hover{
  background-color: #27272c;
}

.virusPositionTop{
  margin-left: -7rem;
  margin-top: -5rem;
}


.virusPositionBottom{
  margin-right: -7rem;
  margin-top: -10rem;
  z-index: 20;
}