.HIframe {
  height: 30rem;
  border-radius: 2rem;
  z-index: 0;
}

.button {
  transition: all 0.2s ease;
  margin-top: 1.25rem;
  padding: 1rem;
}

.button:hover {
  background-color: #27272c;
}

.virusPositionTop {
  margin-left: -7rem;
  margin-top: -5rem;
}

.containerVirusBot{
  display: flex;
  justify-content: flex-end;
}

.virusPositionBottom {
  margin-right: -7rem;
  margin-top: -10rem;
  z-index: 20;
}
