.dropDownControlWhite {
  background-color: white;
  color: #494961;
  border-radius: 3rem;
  cursor: pointer;
  padding-left: 3.25rem;
}

.dropDownControlPurple {
  background-color: #a5afed;
  color: white;
  border-radius: 3rem;
  cursor: pointer;
  padding-left: 3.25rem;
}

.menuControl {
  border-radius: 1.5rem;
  margin-top: 1rem;
  overflow: scroll;
  text-align: center;
  cursor: pointer;
}

.menuControl::-webkit-scrollbar {
  width: 10px;
  display: none;
}

/* Track */
.menuControl::-webkit-scrollbar-track {
  background: rgb(255, 255, 255);
}

/* Handle */
.menuControl::-webkit-scrollbar-thumb {
  background: #a5afed;
}

/* Handle on hover */
.menuControl::-webkit-scrollbar-thumb:hover {
  background: #949bc5;
}

.myArrowClassNameWhite {
  border-color: #494961 transparent transparent;
  margin-top: 0.3rem;
  margin-right: 1rem;
}

.myArrowClassNamePurple {
  border-color: white transparent transparent;
  margin-top: 0.3rem;
  margin-right: 1rem;
}

/* .placeholderClassName {
  color: #494961;
  opacity: 0.5;
} */
