.background {
  background-color: rgba(0, 0, 0, 0.404);
  z-index: 40;
}

.container {
  border-radius: 3rem;
  z-index: 41;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.close {
  background-color: #f178b6;
  transition: 0.2s ease-in-out;
  right: 2rem;
  top: 2rem;
}

.close:hover {
  background-color: #f150a3;
}

.judul {
  font-family: "LeagueSpartan";
  font-weight: 700;
  font-size: 1.2rem;
  position: sticky;
}

.button {
  transition: all 0.23s ease-out;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
  outline: 0.2rem solid #a5afed;
}

.button:hover {
  background-color: #7080ec;
  outline: 0.2rem solid #7080ec;
}

.button_batal {
  transition: all 0.23s ease-out;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
  color: #a5afed;
}

.button_batal:hover {
  outline: 0.2rem solid #a5afed;
  color: #7080ec;
}

.SK {
  overflow-y: scroll;
}

.SK::-webkit-scrollbar {
  display: none;
}

.containerIlustrasi {
  width: 12rem;
}

.divider {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.jenis_vaksin {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.kontradiksi {
  margin-left: 2.5rem;
  margin-right: 2.5rem;
  margin-top: 0.25rem;
}
