.section1 {
  height: fit-content;
}

.container_konten {
  height: fit-content;
}

.container_kanan {
  border-radius: 3.5rem;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.4);
  height: fit-content;
}

.container {
  border-radius: 3.5rem;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.4);
}

.container_icon {
  cursor: pointer;
  border-radius: 3.5rem;
  transition: all 0.23s ease-out;
}

.active {
  background-color: #a5afed;
  cursor: pointer;
  border-radius: 3.5rem;
}

.container_icon:hover {
  background-color: rgb(209, 214, 248);
  color: #494961;
}

.button {
  transition: all 0.23s ease-out;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
  outline: 0.2rem solid #a5afed;
}

.keluar {
  background-color: #f178b6;
  transition: all 0.23s ease-out;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
}

.keluar:hover {
  background-color: #f150a3;
}

.button:hover {
  background-color: #7080ec;
  outline: 0.2rem solid #7080ec;
}

.button_batal {
  transition: all 0.1s ease-out;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
  color: #a5afed;
}

.button_batal:hover {
  outline: 0.2rem solid #a5afed;
  color: #7080ec;
}

.input {
  padding: 1rem 2rem;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
  margin-top: 0.8rem;
  color: #a4a4b0;
}

.input:focus {
  outline: 0.2rem solid #a5afed;
  -webkit-appearance: none;
  color: #494961;
  opacity: 1 !important;
}

.control {
  border: none !important;
  outline: none;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25) !important;
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
  color: black;
  font-size: 1.1rem;
  opacity: 1;
}

.controlDefault {
  border: none !important;
  outline: none;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25) !important;
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
  font-size: 1.1rem;
  color: #494961 !important;
  opacity: 0.5;
}

.control:hover {
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
}

.arrow {
  margin-top: 0.8rem !important;
}

.placeHolderDefault {
  color: #494961 !important;
  opacity: 0.5 !important;
  font-size: 1.1rem;
}

.placeHolder {
  font-size: 1.1rem;
  color: black !important;
  opacity: 1 !important;
}

.form input::-webkit-outer-spin-button,
.form input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
