.firstSection{
  background-image: url('../public/images/UseMask.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: -20;
  bottom: 0;
}

.mtThirdSection{
  margin-top: 0rem;
}

.bgThirdSection{
  background: url('../public/images/FirstDivider.svg');
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 0rem;
}