.section1 {
  height: 40vh;
}

.section2 {
  height: 140vh;
  padding-top: 2rem;
}

.section3 {
  height: 50vh;
}

.bgFirstSection {
  background-image: url("../public/images/sixDivider.svg");
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: -2rem;
}

.bgSecondSection {
  background-image: url("../public/images/sixDivider.svg");
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-transform: scaley(-1);
  transform: scaley(-1);
}

.bgThirdSection {
  background-image: url("../public/images/secondDivider.svg");
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-transform: scaley(-1);
  transform: scaley(-1);
}

.content{
  margin-top: 3rem;
}
