.section1 {
  height: 80vh;
}

.section2 {
  height: 80vh;
}

.section3 {
  height: 100vh;
}

.section4 {
  height: 70vh;
}

.firstSection {
  background-image: url('../public/images/UseMask.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: -20;
  bottom: 0;
}

.bgFirstSection {
  background: url('../public/images/fifthDivider.svg');
  background-repeat: no-repeat;
  background-size: cover;
}

.bgSecondSection {
  background: url('../public/images/secondDivider.svg');
  background-repeat: no-repeat;
  background-size: cover;
}

.bgThirdSection {
  background: url('../public/images/thirdDivider.svg');
  background-repeat: no-repeat;
  background-size: cover;
}

.bgFourthSection {
  background: url('../public/images/Divider.svg');
  background-repeat: no-repeat;
  background-size: cover;
}

.secondBGFourthSection {
  background: url('../public/images/fourthDivider.svg');
  background-repeat: no-repeat;
  background-size: cover;
}


