.section5 {
  height: 100vh;
}

.bgFourthSection {
  background: url("../public/images/thirdDivider.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.footerDividerPurple {
  background: url("../public/images/fourthDivider.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.dividerKetiga {
  background: url("../public/images/fourthDivider.svg");
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-transform: scaley(-1);
  transform: scaley(-1);
}

.card {
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.4);
  border-radius: 3.5rem;
  cursor: pointer;
  transition: 0.2s ease-in all;
}

.card:hover {
  outline: 0.5rem solid #7080ec;
}

.image {
  aspect-ratio: 1/1;
}

.chevronUp {
  cursor: pointer;
  border-radius: 100rem;
  background-color: #A5AFED;
  outline: white solid;
}

.chevronUp:hover {
  background-color: #7080ec;
}

.imgChevron{
  margin-top: 0.2rem;
  margin-left: 0.2rem;
}
